// Import Bourbon
@import "bourbon/bourbon";

// Colors
$clouds: #ecf0f1;
$turquoise: #1abc9c;
$orange: #f39c12;
$wisteria: #8e44ad;
$alizarin: #e74c3c;
$peter-river: #3498db;

a {
  text-decoration: none;
  color: $peter-river;
  text-transform: uppercase;
}

body {
  background: $clouds;
  font-family: Verdana, Geneva, sans-serif;
}

button {
  @include transition(all .5s linear);
  background: $peter-river;
  border: none;
  border-bottom: 4px solid darken($peter-river, 10%);
  color: $clouds;
  cursor: pointer;
  font-size: 1rem;
  padding: 1rem 2rem;
  position: relative;
  
  &:after {
    background: darken($peter-river, 10%);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: -1rem;
    @include transition(all .5s linear);
    width: 100%;
    z-index: -1;
  }

  &:hover {
    border-color: lighten($peter-river, 10%);

    &:after {
      background: lighten($peter-river, 10%);
      top: 0;
    }

  }

}

h1 {
  color: $clouds;
  // Mixin para transition
  @include transition(all .3s linear);
  
  &:hover {
    color: #000;;
  }

}

header {
  // Mixin para la propiedad animation
  @include animation(change-background 3s infinite linear);
  height: 100px;
  line-height: 100px;
  margin-bottom: 1rem;
  text-align: center;
}

// Mixin para definir keyframes
@include keyframes(change-background) {
  0% {
    background: $turquoise;;
  }
  25% {
    background: $orange;
  }
  50% {
    background: $wisteria;
  }
  75% {
    background: $alizarin;
  }
  100% {
    background: $peter-river;
  }
}

.nav {
  li {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 25%;

    &:hover {
      .has_children {
        max-height: 900px;
      }
    }
    a {
      display: block;
    }
  }

  .has_children {
    @include transition(all 1s linear);
    left: 0;
    max-height: 0;
    padding: 0;
    position: absolute;
    overflow: hidden;
    top: 100%;
    width: 100%;

    li {
      display: block;
      width: 100% !important;
    }
  }
}
